DATABASE_URL="postgresql://postgres:***@db.jnznwzjdimsenonjubzy.supabase.co:5432/postgres"
NEXTAUTH_URL=***
...
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=***
OPENROUTER_API_KEY=***
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
