node_modules
.next
out
build
dist
.env
.env.local
.env*.local
.idea
.vscode
*.swp
*.swo
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
next-env.d.ts
prisma/migrations/